html,
body {
  height: 100%;
  background-image: url("images/default.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.weatherDiv {

}

.inputDiv {
  width: 80%;
  position: relative;
  top:55%;
  margin: auto auto 4rem auto;
}

.form-control {
  display: inline-block;
  width: 65%;
  max-width: 330px;
  padding: 15px;
  margin-right: 1rem;
}

.checkbox {
  position: relative;
  top: 55%;
}

footer {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0px;
  margin: auto auto 2rem auto;
}
